Repository yunhe1992/grafana: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-betterer, frontend-eslint, frontend-format, backend-format, fix-cue

lefthook.yml:

pre-commit:
  commands:
    frontend-betterer:
      glob: '*.{ts,tsx}'
      run: yarn betterer precommit --reporter ./scripts/bettererReporter.ts {staged_files}

    frontend-eslint:
      glob: '*.{js,ts,tsx}'
      run: yarn eslint --ext .js,.tsx,.ts --cache --fix {staged_files}

    frontend-format:
      glob: '*.{js,ts,tsx,json,scss,md,mdx}'
      run: yarn prettier --write {staged_files}

    backend-format:
      glob: '*pkg/**/*.go'
      run: gofmt -w -s {staged_files}

    fix-cue:
      glob: '*kinds/**/*.cue'
      run: make fix-cue

Add postinstall script to clean up after husky
  .gitignore
  package.json
  scripts/cleanupHusky.mjs
Due: frontend-format

remove comment from testing
  public/app/routes/routes.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

run scripts in parallel
  lefthook.yml
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

Reduce lefthook output
  .betterer.results
  lefthook.yml
  public/app/routes/routes.tsx
  public/app/routes/routesButWorse.tsx
  scripts/bettererReporter.ts
  scripts/cleanupHusky.mjs
Due: frontend-betterer, frontend-eslint, frontend-format

clean up old husky hooks in .git/hooks path
  scripts/cleanupHusky.mjs
Due: none

don't auto-install lefthook
  package.json
  scripts/cleanupHusky.mjs
  yarn.lock
Due: frontend-format

install lefthook with make command
  .bingo/Variables.mk
  .bingo/lefthook.mod
  .bingo/lefthook.sum
  .bingo/variables.env
  Makefile
  lefthook.rc
  lefthook.yml
Due: none

add hysteresis expr command
  pkg/expr/commands.go
  pkg/expr/graph.go
  pkg/expr/hyseteresis.go
  pkg/expr/mathexp/types.go
  pkg/expr/nodes.go
  pkg/expr/transform.go
  pkg/services/ngalert/api/api_testing.go
  pkg/services/ngalert/backtesting/engine.go
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/schedule/schedule.go
  pkg/services/ngalert/state/cache.go
  pkg/services/ngalert/state/state.go
  pkg/util/labels.go
Due: backend-format

update state manager to map all states in the case when Error\NoData executes as Ok\Alerting
  pkg/services/ngalert/eval/eval.go
  pkg/services/ngalert/state/manager.go
Due: backend-format

heritance modified
  public/app/features/query/state/PanelQueryRunner.ts
Due: frontend-betterer, frontend-eslint, frontend-format

WIP: Add on-call contact point
  go.mod
  go.sum
  pkg/services/ngalert/notifier/channels_config/available_channels.go
Due: backend-format

Fix saving on-call contact point
  go.mod
  go.sum
Due: none

tests
  pkg/expr/nodes_bench_test.go
  pkg/expr/nodes_test.go
Due: backend-format

replace SeriesFromFrame to SeriesFromFrameFields
  pkg/expr/mathexp/type_series.go
  pkg/expr/mathexp/types_test.go
  pkg/expr/nodes.go
Due: backend-format

superclasse overriden and pudbash now extending from DataSourceWithBackend
  public/app/features/dashboard/services/PublicDashboardDataSource.ts
  public/app/features/query/state/PanelQueryRunner.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Config: making [aws][external_id] part of env
  pkg/plugins/config/config.go
  pkg/services/pluginsintegration/config/config.go
  pkg/setting/setting.go
Due: backend-format

Use helper func rather than setting env variables manually
  pkg/plugins/config/config.go
  pkg/plugins/envvars/envvars.go
  pkg/setting/setting.go
Due: backend-format

first round of entityapi updates
  go.mod
  go.sum
  pkg/infra/db/db.go
  pkg/infra/db/dbtest/dbtest.go
  pkg/kinds/general.go
  pkg/server/wire.go
  pkg/services/sqlstore/logger.go
  pkg/services/sqlstore/migrator/dialect.go
  pkg/services/sqlstore/migrator/migrator.go
  pkg/services/sqlstore/migrator/mysql_dialect.go
  pkg/services/sqlstore/session/session.go
  pkg/services/sqlstore/sqlstore.go
  pkg/services/store/entity/db/service.go
  pkg/services/store/entity/dummy/fake_store.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/entity_grpc.pb.go
  pkg/services/store/entity/json.go
  pkg/services/store/entity/json_test.go
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/migrations/migrator.go
  pkg/services/store/entity/sqlstash/folder_support.go
  pkg/services/store/entity/sqlstash/folder_support_test.go
  pkg/services/store/entity/sqlstash/querybuilder.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/utils.go
  pkg/services/store/entity/utils.go
  pkg/services/store/service.go
  pkg/util/k8s.go
Due: backend-format

fixes
  pkg/services/sqlstore/sqlstore.go
  pkg/services/store/entity/dummy/fake_store.go
  pkg/services/store/entity/json_test.go
Due: backend-format

Add tabs for Insights/Getting Started in home page
  public/app/features/alerting/unified/GettingStarted.tsx
  public/app/features/alerting/unified/Home.tsx
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

streamline entity history
  pkg/services/sqlstore/session/session.go
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/migrations/entity_store_mig.go
  pkg/services/store/entity/sqlstash/folder_support.go
  pkg/services/store/entity/sqlstash/folder_support_test.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/sqlstash/testdata/simple.jsonc
  pkg/services/store/entity/tests/server_integration_test.go
Due: backend-format

Display panels using the scenes framework
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Hide Insights page under a feature flag
  public/app/features/alerting/unified/Home.tsx
  public/app/features/alerting/unified/features.ts
Due: frontend-betterer, frontend-eslint, frontend-format

move EntitySummary into proto
  pkg/services/store/entity/entity.pb.go
  pkg/services/store/entity/entity.proto
  pkg/services/store/entity/json.go
  pkg/services/store/entity/models.go
  pkg/services/store/entity/sqlstash/folder_support.go
  pkg/services/store/entity/sqlstash/sql_storage_server.go
  pkg/services/store/entity/tests/server_integration_test.go
  pkg/services/store/kind/dashboard/summary.go
  pkg/services/store/kind/dataframe/summary.go
  pkg/services/store/kind/dummy/summary.go
  pkg/services/store/kind/geojson/summary.go
  pkg/services/store/kind/png/summary.go
  pkg/services/store/kind/snapshot/summary.go
Due: backend-format

Revert "Chore: Add AwaitHealthy to ModuleEngine and Server (#72215)"
  pkg/modules/modules.go
  pkg/modules/util.go
  pkg/server/server.go
  pkg/tests/testinfra/testinfra.go
Due: backend-format

Revert "chore: refactor SecretMigrationProviderImpl as a dskit module (#71944)"
  pkg/modules/dependencies.go
  pkg/modules/registry/registry.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/services/secrets/kvstore/migrations/migrator.go
Due: backend-format

Revert "chore: wrap HTTP server in a dskit module (#71601)"
  pkg/api/http_server.go
  pkg/modules/dependencies.go
  pkg/modules/registry/registry.go
  pkg/modules/registry/registry_test.go
  pkg/server/backgroundsvcs/background_services.go
Due: backend-format

Revert "Chore: Wrap provisioning in dskit service (#71598)"
  pkg/modules/dependencies.go
  pkg/modules/registry/registry.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/services/provisioning/provisioning.go
  pkg/services/provisioning/provisioning_mock.go
  pkg/services/provisioning/provisioning_test.go
Due: backend-format

Revert "Chore: Convert background service registry to dskit module (#64062)"
  .github/CODEOWNERS
  pkg/cmd/grafana-server/commands/cli.go
  pkg/modules/dependencies.go
  pkg/modules/modules.go
  pkg/modules/registry/registry.go
  pkg/modules/registry/registry_test.go
  pkg/server/backgroundsvcs/background_services.go
  pkg/server/backgroundsvcs/background_services_test.go
  pkg/server/backgroundsvcs/runner.go
  pkg/server/backgroundsvcs/runner_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  pkg/server/wire.go
  pkg/systemd/systemd.go
  pkg/tests/testinfra/testinfra.go
Due: backend-format

chore: update alerting swagger spec
  pkg/services/ngalert/api/tooling/api.json
  pkg/services/ngalert/api/tooling/post.json
  pkg/services/ngalert/api/tooling/spec.json
Due: frontend-format

Revert "Modules: Add registry (#70859)"
  pkg/modules/dependencies.go
  pkg/modules/listener.go
  pkg/modules/modules.go
  pkg/modules/registry/registry.go
  pkg/modules/registry/registry_test.go
  pkg/modules/registry/wire.go
  pkg/modules/util.go
  pkg/modules/wire.go
  pkg/server/server.go
  pkg/server/wire.go
  pkg/services/certgenerator/service.go
  pkg/services/grafana-apiserver/service.go
  pkg/setting/setting.go
Due: backend-format

Add a new panel and improve ASH queries
  public/app/features/alerting/unified/Insights.tsx
Due: frontend-betterer, frontend-eslint, frontend-format

Add basic implementation of template variables
  .betterer.results
  public/app/plugins/datasource/tempo/VariableQueryEditor.tsx
  public/app/plugins/datasource/tempo/datasource.ts
Due: frontend-betterer, frontend-eslint, frontend-format

Authenticate to GCR for trivy scans
  .drone.yml
  scripts/drone/events/cron.star
  scripts/drone/vault.star
Due: none

Refactoring
  .betterer.results
  public/app/plugins/datasource/tempo/VariableQueryEditor.tsx
  public/app/plugins/datasource/tempo/datasource.ts
  public/app/plugins/datasource/tempo/variables.ts
Due: frontend-betterer, frontend-eslint, frontend-format

新增frame模式支持
  public/app/core/services/keybindingSrv.ts
  public/app/features/dashboard/components/DashNav/DashNav.tsx
  public/app/features/dashboard/components/SubMenu/SubMenu.tsx
  public/app/features/dashboard/containers/DashboardPage.tsx
  public/app/routes/GrafanaCtrl.ts
  public/app/types/dashboard.ts
  public/sass/components/_view_states.scss
Due: frontend-betterer, frontend-eslint, frontend-format
